/* sets the base size for all rem units to follow */
html {
    font-size: 16px;
    line-height: 1.3;
    /* font-weight: 300; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #AFD2CE;
}

.wrapper {
    background-color: #D8EAE9;
    /* background-position: center; */
    width: 900px;
    margin: auto; 
    /* display: center; */
}

/* adds a picture of starfish as the background of the header */
header {
    width: 900px;
    height: 300px;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    display: flex;

}

/* puts the header in the center */
header h1 {
    font-size: 3rem;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,0%); 
    z-index: 0; 
}

/* style the navigation */
.navigation ul {
    /* text-decoration-color: black; */
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 530;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
 }

.storymenu {
    padding-left: 110px;
    padding-right: 110px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    z-index: 1;
    position: relative;
}

 .navigation ul li {
    padding-left: 55px;
    padding-right: 55px;
    /* margin-top: opx; */
 }
 
 .navigation {
    display: flex;
    justify-content: center;
 }

 .navigation :hover {
    color:#AFD2CE;
 }

 a {
    text-decoration: none;
    /* text-align: flex; */
 }

/* style the main in body paragraph */
main {
    padding: 0px;
    border-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 2.2rem;
    font-weight: 200;
    margin-bottom: 5px;
}

.container p {
    /* padding-right: 5px; */
    padding-right: 5px;
    margin: 0px;
}

/* floats the photo on the top-left corner of the content */
main section .container img {
    width: 250px;
    height: 250px;
    /* display: flex; */
    float: left;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 100;
}

/* style the facts ul */
.facts {
    margin: 0px;
}

.facts li {
    line-height: 1;
    margin: 0px;
    margin-left: -25px;
}

/* adds a box to the contact section */
div .box {
    width: 846px;
    height: 410px;
    padding: 15px;
    padding-top: 20px;
    line-height: 2;
    border: 1px solid black;
}

.input-parent label, .input-parent input {
    display: inline-block;
}

.input-child {
    width: 842px;
    height: 30px;
    /* padding-top: 10px; */
    border: 1px solid rgb(184, 181, 181);
}

#yourmessage {
    height: 90px;
    /* border: solid; */
}

h4 {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 8px;
    margin-left: 0px;   
}

.send-button {
    width: 50px;
    height: 35px;
    border: 1px solid black;
    padding: 0px;
    margin: 10px;
    margin-left: 0px;
}

/* add hover to the send button */
.send-button {
    background-color:#D8EAE9;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;

}
.send-button:hover {
    background-color: #AFD2CE;
    color: white;
}

/* style the footer */
footer {
    text-align: right;
    padding: 15px;
    padding-bottom: 20px;
    padding-right: 30px;
    /* padding: 10px/20px; */
}