/* sets the base size for all rem units to follow */
html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #AFD2CE;

}

.wrapper {
    background-color: #D8EAE9;
    /* background-position: center; */
    width: 900px;
    margin: auto; 
    display: center;
}

/* adds a picture of starfish as the background of the header */
header {
    width: 900px;
    height: 300px;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    display: flex;
}

/* puts the header in the center */
header h1 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);
    color: #FFFFFF;
}

/* style the navigation */
.navigation ul {
    /* text-decoration-color: black; */
    list-style-type: none;
    display: flex;
    position: relative;
 }

.storymenu {
    padding-left: 100px;
    padding-right: 100px;

    /* height: 5px; */
    /* margin-right: 30px; */
    /* margin-left: 30px; */
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
 .navigation ul li {
    padding-left: 50px;
    padding-right: 50px;
 }
 
 .navigation {
    display: flex;
    justify-content: center;
 }
 .navigation :hover {
    content: black;
    color:#AFD2CE;
 }
 a {
    text-decoration: none;
    text-align: flex;
 }

/* style the main in body paragraph */
main {
    padding: 1px;
    border-left: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 1.5rem;
}

.photo {
    width: 160px;
    height: 160px;
    display: flex;
}





