/* reset the css file */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set the base size for all rem units to follow */
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f4ee;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
/* set the wrapper width of the whole body */
.wrapper {
    /* width: 900px; */
    margin: 0 auto; 
    padding: 0 10px;
}

/* style the navigation section */
header {
    background-color: #222;
}

.logocontainer {
    background-color: #c78c06;
    width: 100%;
}

.navigation {
    text-align: center;
}

.navigation li {
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: #c78c06; */
    color: #c78c06;
}

header .home {
    background-color: #c78c06;
    color: black;
}

.find form {
    align-items: center;
    /* width: 100%; */
    padding-bottom: 15px;
    display: flex;
}
.find form input {
    width: 97%;
    height: 22px;
}

.fa-magnifying-glass {
    /* flex-basis: calc(5% - 4px); */
    border: solid 1px #c78c06 ;
    color: #c78c06;
    padding: 5px;
}

/* style the welcome section */
.welcome {
    background-image: url("/final-project/images/main-banner.jpg");
    /* background-repeat: no-repeat; */
    background-position: center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome .wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 10px;
}

.welcome .wrapper h1 {
    color: white;
    padding-bottom: 10px;
}

.welcome .wrapper p {
    color: white;
    padding-bottom: 10px;   
}

button {
    padding: 15px;
    background-color: black;
    color: white;
    border: 0;
}

.connect {
    color: black;
    background-color: #c78c06;
}

/* style the about section with flex on mobile version */
.about {
    background-color: #ffe6ac;
    padding: 15px;
}

.about .wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.about img {
    padding-bottom: 15px;
}

.about h2 {
    padding-bottom: 10px;
}

.services {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.digital, .marketing, .video, .web, .print {
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

.services img {
    width: 100%;
}

.services h3, .services p {
    padding: 10px;
}

.services button {
    margin-left: 10px;
    margin-bottom: 10px;
}



















