/* reset the css file */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* set the base size for all rem units to follow on mobile*/
body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

/* set the mobile wrapper width of the whole body */
.wrapper {
    margin: 0 auto; 
    padding: 0 10px;
}

/* style the web wrapper width */
@media screen and (min-width: 760px) {
    .wrapper {
        width: 80vw;
    }
}

/* style the mobile navigation section */
header {
    background-color: #222;
}

.logocontainer {
    background-color: #c78c06;
    width: 100%;
}

.navlist {
    text-align: center;
}

.navlist li {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #c78c06;
}

header .home {
    background-color: #c78c06;
    color: black;
}

.find form {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
}

.find form input {
    width: 97%;
    height: 22px;
}

.fa-magnifying-glass {
    border: 1px solid #c78c06 ;
    color: #c78c06;
    padding: 5px;
}

@media screen and (min-width: 760px) {
    .navigation {
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding: 40px 20px;
    }

    .logocontainer {
        width: 98px;
        height: 98px;
    }

    .navlist {
        display: flex;
        justify-content: space-around;
        margin: 22px 20px;
        padding-left: 2vw;
    }

    .navlist li {
        background-color: #222;
        justify-content: space-between;
        padding: 15px 3vw;
        width: max-content;
    }

    .navlist .home {
        background-color: #c78c06;
    }

    .navigation .find {
        margin-top: 26px;
        width: 15vw;
    }
}

/* style the mobile welcome section with background image*/
.welcome {
    background-image: url("../images/main-banner.jpg");
    /* background-repeat: no-repeat; */
    background-position: center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome .wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 10px;
}

.welcome .wrapper h1 {
    color: white;
    padding-bottom: 10px;
}

.welcome .wrapper p {
    color: white;
    padding-bottom: 10px;   
}

button {
    padding: 15px;
    background-color: black;
    color: white;
    border: 0;
}

.connect {
    color: black;
    background-color: #c78c06;
}

/* style the mobile about section with flex */
.about {
    background-color: #ffe6ac;
    padding-top: 10px;
    padding-bottom: 20px;
}

.about .wrapper {
    /* padding: 5px; */
}

.about img {
    width: 100%;
    padding-bottom: 15px;
}

.about h2 {
    padding-bottom: 10px;
}

/* float the img on the left on the web version */
@media screen and (min-width: 760px) {
    .about img {
        width: 444px;
        float: left;
        padding-right: 10px;
    }

    .abouttext {
        /* margin-left: 10px; */
    }
}

/* style the mobile services section with flex */
.services {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.services h2 {
    padding-bottom: 10px;
}

.digital, .marketing, .video, .web, .print {
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

.services img {
    width: 100%;
}

.services h3, .services p {
    padding: 10px;
}

.services p {
    padding-top: 0;
}

.services button {
    margin-left: 10px;
    margin-bottom: 10px;
}
/* style the web services section with grid*/
@media screen and (min-width: 760px) {
    .serviceboxes {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);   
    }

    .digital {
        grid-column: 1 / span 3;
        margin-right: 5px;
    }
    
    .marketing {
        grid-column: 4 / span 3;
        margin-left: 5px;
      }
    
    .video {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        margin-right: 6px;
    }

    .web {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
        margin-left: 3px;
        margin-right: 3px;
    }

    .print {
        grid-column: 5 / span 2;
        grid-row: 2 / span 2;
        margin-left: 6px;
    }

    .serviceboxes h3 {
        width: max-content;
    }
}

/* style the mobile vision section */
.vision {
    background-image: url("/final-project/images/vision.jpg");
    background-position: center center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.vision h3, .vision p {
    color: white;
}

.vision button {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px #c78c06;
}

.vision h3, .vision p {
    padding-bottom: 10px;
}

/* style the mobile team section with grid*/
.team {
    display: flex;
    flex-direction: column;
    /* padding: 0px; */
}

.johnbio, .bobbio {
    background-color: #ffe6ac;
    padding: 10px;
}

.team h5 {
    border-bottom: 2px solid #c78c06;
}

.team p {
    padding-top: 10px;
}

.johnspic, .bobspic {
    width: 100%;
    padding-top: 10px;
}

/* style the web team section with grid*/
@media screen and (min-width: 760px) {
    .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);  
        grid-template-areas: 
        "johnspic johnbio"
        "bobbio bobspic"; 
    }

    .johnspic {
        grid-area: johnspic;
        padding-top: 0;
    }

    .johnbio {
        grid-area: johnbio;
        padding: 0px 10px;
    }

    .bobbio {
        grid-area: bobbio;
        padding: 0px 10px;
    }

    .bobspic {
        grid-area: bobspic;
        padding-top: 0;
    }
}   

/* style the mobile contact section */
.contact {
    padding-top: 50px;
}

.contact h2 {
    padding-bottom: 10px;
}
.message input, .message textarea {
    width: 100%;
}

.contact .info .message button {
    font-size: 1.2rem;
    background-color: black;
    color: #c78c06;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* style the timetable */
.table {
    border: solid 1px black;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    /* text-align: center; */
    padding: 5px;
}

th {
    background-color: #ffe6ac;
}

/* style the map */
iframe {
    width: 100%;
    height: 300px;
}

/* style the web contact section with grid*/
@media screen and (min-width: 760px) {
    .info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 270px 160px;  
        grid-template-areas: 
        "message message location location"
        "hours hours hours hours"; 
    }

    .message {
        grid-area: message;
        width: auto;
    }
    .message form input, .message form textarea {
        width: 38vw;
    }
    .hours {
        grid-area: hours;
        margin-top: 10px;
    }

    .location {
        grid-area: location;
    }
    .location iframe {
        height: 240px;
    }
} 

/* style the footer */
footer p {
    background-color: #222;
    color: #c78c06;
    padding: 15px;
    padding-top: 20px;
}

.lastline {
    padding-top: 0;
}

.lastline a {
    color: #c78c06;
}